.mid{
    padding: 20px 300px;
}
.titulo{
    font-size: 20px;
    text-align: center;
}
.contador{
    font-size: 80px;
    text-align: center;
    height: 150px;
}
.botones{
    margin-bottom: 20px;
}